.header {
  font-size: 20px;
}

.cart-buttom {
  background-color: blue;
  border-radius: 5px;
}

.cart-head {
  color: aliceblue;
  padding-left: 10px;
}

.cart-body {
  text-align: center;
  color: aliceblue;
  font-size: 30px;
}

.cart-set {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.my-custom-scrollbar {
  height: 500px;
  width: 800px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}

.delivery-text {
  font-size: 10px;
}

.delivery-zero {
  background-color: chartreuse;
  margin-top: 10px;
  margin-bottom: 10px;
}

.delivery-one {
  margin-top: 10px;
  margin-bottom: 10px;
}

.line {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  border-left: 2px dashed rgb(12, 228, 48);
}
